{% extends "base.html" %}

{% block title %} Dashboard | MarkThisDown {% endblock%} 

{% block main %}
  <h1 class="mb-6 text-xl font-bold">Dashboard</h1>
  <div class="flex gap-3 text-center mb-6">
    <a
      href="/editor"
      class="block border border-purple-600 py-3 w-full rounded-xl">
      New Markdown File
    </a>
    <button
      type="button"
      class="block border border-green-600 py-3 w-full rounded-xl cursor-pointer">
      Edit Markdown File 
    </button>
  </div>
  <h2 class="font-medium text-lg text-center mb-3">Previously Editted:</h2>
  <ul class="text-center space-y-1.5">
    <li>File 1</li>
    <li>File 2</li>
    <li>File 3</li>
    <li>etc.</li>
  </ul>
{% endblock %}
