{% extends "base.html" %} {% block title %} Editor | MarkThisDown {% endblock%}
{%block css%}
<link
  rel="stylesheet"
  href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css"
/>
{% endblock %} {% block main %}
<h1 class="mb-6 text-xl font-bold">Editor</h1>
<p>File: {{ filename }}</p>
<textarea id="frontmatter" name="frontmatter" class="w-full h-64 border border-slate-300 p-3">{{ frontmatter }}</textarea>
<div id="editor" class="mb-6"></div>
<div class="flex gap-3">
  <form method="get" action="/saved" id="saveForm" class="w-full">
    <button
      type="submit"
      class="w-full block border border-purple-600 py-3 rounded-xl cursor-pointer"
    >
      Save
    </button>
  </form>
  <form method="post" action="/reset" id="resetForm" class="w-full">
    <button
      type="submit"
      class="w-full block border border-green-600 py-3 rounded-xl cursor-pointer"
    >
      Reset
    </button>
  </form>
</div>

{% endblock %} {% block scripts %}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script>
  const initialMarkdown = {{ content | tojson | safe }};
</script>
<script src="/static/editor-controls.js"></script>
{% endblock %}
