{% extends "base.html" %}

{% block title %} Editor | MarkThisDown {% endblock%}

{% block main %}
    <h1>Editor</h1>
    <div id="editor"></div>
    <form method="POST" id="theForm">
        <input type="hidden" name="markdownContent" id="markdownContent" />
        <button type="submit">Save</button>
        <button type="reset">Reset</button>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
    <script>
    document.addEventListener("DOMContentLoaded", () => {
        // Initialize the editor
        const editor = new toastui.Editor({
            el: document.querySelector("#editor"),
            height: "500px",
            initialEditType: "markdown",
            previewStyle: "vertical",
        });
        editor.getMarkdown();
        // Take the content of the Editor and set it to the hidden input before submitting
        document.getElementById("theForm").addEventListener("submit", () => {
            const markdown = editor.getMarkdown();
            document.getElementById("markdownContent").value = markdown;
        });
        // Clear the editor on pressing reset
        document.getElementById("theForm").addEventListener("reset", () => {
            editor.setMarkdown("");
        });
    });
    </script>
{% endblock %}
