<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MarkThisDown</title>
  </head>
  <body>
    <header><span>[MarkThisDown]</span></header>
    <main>
      <h1>Home Page</h1>
      <form method="POST">
        <label for="post">The Editor</label><br />
        <textarea name="post" id="post" placeholder="Type Markdown Here"></textarea><br />
        <textarea name="post2" id="post2" placeholder="Type Markdown Here"></textarea><br />
        <button type="submit">Submit Post</button>
        <button type="reset">Reset Editor</button>
      </form>
    </main>
    <footer>&copy; 2025 MarkThisDown. Created by Edward Vonschondorf</footer>
  </body>
</html>
